<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur quibusdam omnis placeat. Laudantium numquam veritatis voluptas asperiores, beatae recusandae praesentium. Ratione praesentium obcaecati unde labore ea atque blanditiis earum corporis.</p>
            </div>
        </div>
    </header>